// FONTS
$font-shadows : 'Shadows Into Light', cursive;
$font-playfair : 'Playfair Display', serif;
$font-lato : 'Lato', sans-serif;
$font-alegreya : 'Alegreya', serif;

// COLORS
$color-button-border : #343a4000;
$color-dark-font : #56534c;
$color-brown-font : #a47d5e;
$color-orange : #dfc691;
$color-minutes-font : #979285;
