@import "variables";

.header-bg {
  .nav-bg {
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    height: 70px;
  }

  .nav-bar {
    height: 70px;

    .navbar-brand {
      position: absolute;
      left: 0;
      font-size: 30px;
      padding: 10px 10px 0;
      color: white;
      font-family: $font-shadows;
      letter-spacing: 1.5px;
    }

    .navbar-toggler-icon {
      position: absolute;
      right: 0;
    }

    div {
      position: absolute;
      width: 100vw;
      left: 0;
      top: 0;
      margin-top: 70px;
      background: url("../assets/images/navi_bg.png");
      z-index: 10000;

      ul {
        .last-nav-item {
          position: absolute;
          right: 0;
          display: none;

          a {
            float: right;
          }
        }

        li {
          font-size: 14px;
          padding: 15px 10px 0;
          width: 100%;
          border-top: 1px dotted #00000029;

          a {
            color: white;
          }
        }

        li:nth-child(5) {
          padding-bottom: 15px;
        }
      }
    }
  }
}

.header-bg {
  background-image: url("../assets/images/header_bg.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  header {
    color: white;

    h1 {
      font-size: 72px;
      font-family: $font-playfair;
      font-weight: bold;
	  text-shadow: 1px 1px 5px #3a3a3a;
      letter-spacing: 3px;
      margin-top: 5vh;
    }

    img {
      // SHADOW
    }

    p {
      font-size: 24px;
      font-family: $font-lato;
	  text-shadow: 1px 1px 1px #3a3a3a;
    }

    button {
      border-radius: 0;
      background-color: #30313194;
      border-color: $color-button-border;
      padding: 8px 30px;
      font-family: $font-lato;
      letter-spacing: 1px;
      margin-top: 40px;

      &:hover {
        background-color: #23272bb0;
        border-color: $color-button-border;
      }
    }
  }

  .bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 3px;
    background-color: white;

    .circle {
      border-radius: 50%;
      background-color: white;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -850%;
      right: 50%;
      transform: translateX(50%);
      z-index: 3;
      border: 10px solid white;

      .bread_vector {
        width: 100%;
        height: 100%;
      }

      .vector2 {
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-25%,-25%);
      }
    }
  }
}

.art-of-cakes {
  color: $color-dark-font;
  min-height: 100vh;
  background-image: url("../assets/images/art_of_cakes_bg.png");
  background-position: center;
  background-size: cover;

  .header {
    font-family: $font-alegreya;
    font-weight: bold;
    font-size: 42px;
    margin: 90px 0 0;
    color: $color-dark-font;
  }

  .after_header_par {
    font-family: $font-alegreya;
    font-size: 13px;
    color: $color-brown-font;
  }

  .lorem {
    margin-top: 40px;
  }

  .chef {
    font-size: 24px;
    font-family: $font-alegreya;
    margin: 50px 0 0;
  }

  .name {
    padding: 5px 0;
    border-top: 1px solid #80808085;
    border-bottom: 1px solid #80808085;
    font-size: 24px;
    font-family: $font-alegreya;
  }

  blockquote {
    font-family: $font-shadows;
    font-size: 28px;
    color: $color-brown-font;
    margin-top: 50px;
  }

  .right-contect {
    padding: 20px;

    .images {
      width: 100%;
      position: relative;
      top: 0;
      margin-bottom: 30px;

      img {
        width: 47%;
        margin: 2px;
        outline: 5px solid white;
        outline-offset: -10px;
      }

      .vector {
        width: 125px;
        height: 125px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        border: none;
        outline: none;
      }

      p {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        text-align: center;
        max-width: 120px;
        font-size: 17px;
        color: #c9b176;
      }
    }
  }
}

.tasty_pancakes {
  height: 100vh;
  min-height: 550px;
  background-image: url("../assets/images/tasty_pancakes_bg.png");
  background-position: left;
  background-size: cover;

  .content {
    height: 50vh;
    min-height: 400px;
    background-color: white;
    background-image: url("../assets/images/pancake.png");
    background-position: left;
    background-size: cover;
    border-bottom-left-radius: 15%;

    .stars {
      position: absolute;
      left: 5px;
      top: 20%;
      width: 25px;

      .star {
        padding: 5px;
      }
    }

    .right-content {
      background-color: white;
      position: relative;

      .ready {
        display: none;
        width: 160px;
        height: 160px;
        position: absolute;
        right: -15%;
        top: -10%;
        background: white;
        background-image: url("../assets/images/ready_bg.png");
        background-position: left;
        -webkit-box-shadow: 0 10px 90px 7px rgba(204,204,204,1);
        -moz-box-shadow: 0 10px 90px 7px rgba(204,204,204,1);
        box-shadow: 0 10px 90px 7px rgba(204,204,204,1);

        p {
          margin: 0;
          font-weight: bold;
        }

        .ready-p {
          margin-top: 15px;
          color: $color-brown-font;
        }

        .number-p {
          color: $color-orange;
          font-weight: 700;
          font-size: 56px;
          line-height: 1.4;
        }

        .minutes-p {
          color: $color-minutes-font;
        }
      }

      h2 {
        font-family: $font-alegreya;
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 0;
        color: $color-dark-font;
      }

      .after_header_par {
        font-family: $font-alegreya;
        font-size: 13px;
        color: $color-brown-font;
      }

      p {
        font-size: 14px;
        z-index: 10;
        position: relative;
      }

      div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 170px;
        bottom: 20px;
        z-index: 10;

        .item {
          width: 50px;
          margin: 2px;

          &:nth-child(2) {
            display: none;
          }
        }

        .arrow {
          cursor: pointer;
          width: 24px;
        }
      }

      .windmill {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        width: 190px;
      }
    }
  }
}

.breakfast {
  //min-height: 100vh;
  background-color: #f3f1e9;
  padding-bottom: 25px;

  .main-container {
    min-height: 92vh;
  }

  .header {
    h2 {
      color: $color-dark-font;
      font-family: $font-alegreya;
      font-weight: bold;
      font-size: 42px;
      margin: 0;
      position: relative;
      z-index: 10;
    }

    p {
      margin: 0;
      color: $color-brown-font;
      font-size: 13px;
      font-family: $font-alegreya;
    }

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -30%;
      width: 80px;
      height: 100px;
    }
  }

  .left-content {
    margin-top: 60px;

    h3 {
      font-size: 30px;
      color: $color-brown-font;
      margin-bottom: 12px;
    }

    p {
      font-size: 13px;
    }
  }

  .content-right {
    position: relative;

    .right_sandwich {
      height: 45vh;
      min-height: 320px;
      position: relative;
      margin: 100px 0 80px;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

    .full_recepie {
      position: absolute;
      left: -5%;
      bottom: -4%;
      background-color: white;
      margin: 0;
      padding: 10px;
      border: 1px dotted $color-orange;

      p {
        margin: 0;
        color: $color-orange;
        font-family: $font-alegreya;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .side {
      position: absolute;
      width: 100px;
      height: 52vh;
      min-height: 360px;
      background: #ffffffc7;
      right: 9px;
      top: -8%;
      font-family: $font-alegreya;

      div {
        height: 33.3%;
        padding: 8px;
      }

      span {
        display: block;
      }

      .ready-s {
        color: $color-brown-font;
        font-weight: bold;
      }

      .number-s {
        color: $color-dark-font;
        font-weight: 700;
        font-size: 38px;
        line-height: 1;
      }

      .minutes-s {
        color: $color-minutes-font;
        font-weight: bold;
        margin-top: 10px;
      }

      .prep {}

      .cook {}

      .ready {
        background-image: url("../assets/images/ready_bg.png");
        background-position: left;

        .number-s {
          color: $color-orange;
          font-size: 42px;
        }
      }
    }
  }

  footer {
    height: 8vh;
    padding-bottom: 30px;

    nav {
      ul {
        li {
          a {
            color: #35332f;
            font-family: $font-alegreya;
            font-size: 12px;
            border-top: 1px solid #c2beba;
            border-bottom: 1px solid #c2beba;
            padding: 15px 5px !important;
            display: none;
          }

          .navbar-brand {
            border: 0;
            font-size: 24px;
            line-height: 1;
            margin: 0;
            font-family: $font-shadows;
            letter-spacing: 1.5px;
            display: inline-block;
          }

          .tylda {
            cursor: default;
            padding: 15px 0 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .header-bg {
    header {
      h1 {
        font-size: 92px;
        margin-top: 10vh;
      }

      button {
        margin-top: 60px;
      }
    }
  }

  .art-of-cakes {
    .header {
      margin-top: 130px;
    }

    .name {
      padding: 5px 14px;
    }

    .right-contect {
      .images {
        img {
          margin: 3px;
        }

        .vector {
          width: 170px;
          height: 170px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

  .tasty_pancakes {
    .content {
      .right-content {
        h2 {
          font-size: 42px;
        }

        p {
          font-size: 16px;
        }

        div {
          transform: none;
          left: auto;
          min-width: 0;

          .item {
            width: 65px;
            margin: 8px;

            &:nth-child(2) {
              display: inline;
            }
          }

          .arrow {
            width: 32px;
          }
        }

        .windmill {
          width: 250px;
        }
      }
    }
  }

  .breakfast {
    .content-right {
      position: relative;

      .right_sandwich {
        height: 45vh;
        min-height: 380px;
        position: relative;
        margin: 100px 0 80px;
      }

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }

      .full_recepie {
        position: absolute;
        left: -3%;
        bottom: -3%;
        background-color: white;
        margin: 0;
        padding: 10px;
        border: 1px dotted $color-orange;

        p {
          margin: 0;
          color: $color-orange;
          font-family: $font-alegreya;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
        }
      }

      .side {
        position: absolute;
        width: 160px;
        height: 52vh;
        min-height: 460px;
        background: #ffffffc7;
        right: 20px;
        top: -8%;
        font-family: $font-alegreya;

        div {
          height: 33.3%;
          padding: 30px;
        }

        span {
          display: block;
        }

        .ready-s {
          color: $color-brown-font;
          font-weight: bold;
        }

        .number-s {
          color: $color-dark-font;
          font-weight: 700;
          font-size: 56px;
          line-height: 1;
        }

        .minutes-s {
          color: $color-minutes-font;
          font-weight: bold;
          margin-top: 10px;
        }

        .prep {}

        .cook {}

        .ready {
          background-image: url("../assets/images/ready_bg.png");
          background-position: left;

          .number-s {
            color: $color-orange;
            font-size: 60px;
          }
        }
      }
    }

    .left-content {
      margin: 60px 0 20px;

      div {
        width: 33.3%;
        float: left;
      }

      h3 {
        font-size: 30px;
        color: $color-brown-font;
        margin-bottom: 12px;
      }

      p {
        font-size: 13px;
      }
    }

    footer {
      height: 8vh;
      padding-bottom: 30px;

      nav {
        ul {
          li {
            a {
              padding: 15px 7px !important;
              font-size: 12px;
              display: inline-block;
            }

            .tylda {
              cursor: default;
              padding: 15px 0 !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .header-bg {
    header {
      h1 {
        font-size: 92px;
        margin-top: 20vh;
      }

      button {
        margin-top: 80px;
      }
    }
  }

  .art-of-cakes {
    .right-contect {
      .images {
        top: 40%;
        margin-bottom: 0;
      }
    }
  }

  .tasty_pancakes {
    .content {
      .right-content {
        .ready {
          display: block;
          right: -22%;
          top: -15%;
        }

        div {
          .item {
            width: 72px;
          }
        }
      }
    }
  }

  .breakfast {
    .content-right {
      position: relative;

      .right_sandwich {
        height: 45vh;
        position: relative;
        margin: 120px 0 80px;
      }
    }

    .left-content {
      margin-top: 60px;

      div {
        width: 33.3%;
        float: left;
      }

      h3 {
        font-size: 30px;
        color: $color-brown-font;
        margin-bottom: 12px;
      }

      p {
        font-size: 13px;
      }
    }

    footer {
      height: 8vh;
      padding-bottom: 30px;

      nav {
        ul {
          li {
            a {
              padding: 15px 10px !important;
              font-size: 14px;
            }

            .tylda {
              cursor: default;
              padding: 15px 5px !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .header-bg {
    .nav-bar {
      position: relative;

      div {
        position: static;
        width: auto;
        background: none;
        margin-top: 0;

        ul {
          .last-nav-item {
            position: absolute;
            right: 0;
            display: list-item;

            a {
              float: right;
            }
          }

          li {
            font-size: 14px;
            padding: 15px 10px 0;
            width: auto;
            border-top: none;

            a {
              color: white;
            }
          }
        }
      }
    }
  }

  .tasty_pancakes {
    .content {
      .right-content {
        div {
          .item {
            width: 80px;
          }
        }
      }
    }
  }

  .breakfast {
    .content-right {
      position: relative;

      .right_sandwich {
        height: 45vh;
        position: relative;
        margin: 150px 0 0;
      }
    }

    .left-content {
      margin-top: 0;
      margin-bottom: 20px;

      div {
        width: 100%;
        float: right;
      }

      h3 {
        font-size: 30px;
        color: $color-brown-font;
        margin-bottom: 12px;
      }

      p {
        font-size: 13px;
      }
    }

    footer {
      height: 8vh;
      padding-bottom: 30px;

      nav {
        ul {
          li {
            a {
              padding: 15px 25px !important;
            }

            .tylda {
              cursor: default;
              padding: 15px 10px !important;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .art-of-cakes {
    .right-contect {
      .images {
        top: 35%;
        margin-bottom: 0;
      }
    }
  }

  .breakfast {
    footer {
      height: 8vh;
      padding-bottom: 30px;

      nav {
        ul {
          li {
            a {
              padding: 15px 25px !important;
            }

            .tylda {
              cursor: default;
              padding: 15px 25px !important;
            }
          }
        }
      }
    }
  }
}
